%h2 All
%table
  %tbody
    %tr
      %th Name
      %th Email
      %th Attending
      %th First Time
      %th How Heard
      %th Shirt Size
      %th Created At
      %th Updated At
    - User.order(:updated_at).each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.attending?
        %td= user.first_time_attendee?
        %td= user.heard_about_by
        %td= user.shirt_size
        %td= user.created_at
        %td= user.updated_at
