= link_to 'All Users', admin_all_path
%br
= link_to 'Mailing List', admin_mailing_path
%br
= link_to 'Attending - Null', admin_registered_null_path
%br
= link_to 'Attending - True', admin_registered_true_path
%br
= link_to 'Attending - False', admin_registered_false_path