.center
  = form_tag mailing_list_path, id: 'email-form' do
    = field_set_tag do
      Get notified about the latest beCamp news!
      %br

      = label_tag :email, 'Email:'
      = text_field_tag :email, '', { required: '' }
      = submit_tag 'Submit', class: "btn btn-primary btn-lg"
