.center
  - if @unregistered
    %h2 Please let us know if you will be attending
  - else
    %h2 Change your attendance

  %br

  = form_for current_user, url: register_path, method: :put do |f|

    = field_set_tag do
      = f.label :attending, 'Will you be attending the 2014 beCamp?'
      = f.select :attending, options_for_select([['Please choose one...', ''], ['Yes', true], ['No', false]], current_user.attending)

    = field_set_tag do
      = f.label :heard_about_by, 'How did you hear about beCamp?'
      = f.text_field :heard_about_by

    = field_set_tag nil, { class: 'attending', style: 'display:none' } do
      = f.label :first_time_attendee, 'Will this be your first time at beCamp?'
      = f.select :first_time_attendee, options_for_select([['Please choose one...', ''], ['Yes', true], ['No', false]], current_user.first_time_attendee)

    = field_set_tag nil, { class: 'attending', style: 'display:none' }  do
      = f.label :shirt_size, 'What is your shirt size?'
      = f.select :shirt_size, options_for_select(User::SHIRT_SIZES, current_user.shirt_size)

    = f.submit 'Submit', class: "btn btn-primary btn-lg"
