<p id="notice"><%= notice %></p>

<h1>Listing Sponsors</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Sequence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= raw("<a href=\"#{sponsor.homepage_url}\" target=\"_blank\"><img src=\"#{sponsor.logo_url}\" width=\"#{sponsor.width}\"></a>") %></td>
        <td><%= sponsor.sequence %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsor', new_sponsor_path %>
