<p id="notice"><%= notice %></p>

<p>
  <strong>Homepage url:</strong>
  <%= @sponsor.homepage_url %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @sponsor.logo_url %>
</p>

<p>
  <strong>Width:</strong>
  <%= @sponsor.width %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @sponsor.sequence %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
