.faq
  .questions
    .question
      = link_to 'What is beCamp?', '#what'

    .question
      = link_to 'Who attends beCamp?', '#who'

    .question
      = link_to 'When is beCamp?', '#when'

    .question
      = link_to 'Where is beCamp held?', '#where'

    .question
      = link_to 'How much does beCamp cost?', '#cost'

    .question
      = link_to 'What about food?', '#food'

    .question
      = link_to 'Are there rules?', '#rules'

    .question
      = link_to 'Why is the schedule TBD?', '#tbd'

    .question
      = link_to 'How are topics decided?', '#topic'

    .question
      = link_to 'What about topics that are not chosen?', '#lightning'

    .question
      = link_to 'How did beCamp get started?', '#history'

    .question
      = link_to 'How can I help out with beCamp?', '#help'


  .answers
    .question
      %a{ name: 'what' }
      What is beCamp?
    .answer
      beCamp is Charlottesville's version of the
      = link_to 'BarCamp', 'http://en.wikipedia.org/wiki/Bar_camp', target: 'blank'
      unconference movement - a conference organized on the fly
      by attendees, for attendees.

    .question
      %a{ name: 'who' }
      Who attends beCamp?
    .answer
      You! Software developers, system administrators,
      quality assurance, devops, designers, business developers
      and anyone interested in technology.

    .question
      %a{ name: 'when'}
      When is beCamp?
    .answer
      beCamp begins Friday, September 19th, 2014 at 5:00PM for topic organization.
      beCamp continues Saturday, September 20th, 2014 at 9:00AM for presentations.

    .question
      %a{ name: 'where' }
      Where is beCamp held?
    .answer
      beCamp is held at
      = link_to 'CitySpace', 'http://charlottesvillearts.org/cityspace/', target: 'blank'
      on the Downtown Mall in Charlottesville, VA.
      %br
      =link_to 'Google Maps', 'https://www.google.com/maps/place/100+5th+St+NE,+Charlottesville,+VA+22902', target: 'blank'

    .question
      %a{ name: 'cost' }
      How much does beCamp cost?
    .answer
      beCamp is free for attendees thanks to our awesome
      = link_to 'sponsors.', sponsors_path

    .question
      %a{ name: 'food' }
      What about food?
    .answer
      Food and beverages will be provided for the duration of the event.
      However, If you'd like to grab something else, beCamp is held on
      Charlottesville's Historic Downtown Mall, giving you plenty of
      alternatives to choose from.

    .question
      %a{ name: 'rules' }
      Are there rules?
    .answer
      beCamp draws people together from many backgrounds and experiences to
      learn and teach about technology.  While you are at beCamp, help foster
      a friendly environment.
      %ul
        %li be polite
        %li be kind
        %li be respectful
        %li be helpful.
      At beCamp, we do not tolerate offensive comments about gender, age, sexual
      orientation, disability, physical appearance, race, or religion, or any
      inappropriate physical contact.  If a participant engages in harassing behavior,
      beCamp volunteers may take any action they deem appropriate, including warning
      the offender or expulsion from beCamp.  Any participant who has a concern should
      bring it immediately to the beCamp organizer.

       = link_to 'Code of Conduct', 'https://github.com/cville/conduct', target: 'blank'

    .question
      %a{ name: 'tbd' }
      Why is the schedule TBD?
    .answer
      The schedule will be made Friday night by attendees.

    .question
      %a{ name: 'topic' }
      How are topics decided?
    .answer
      On Friday evening, anyone in attendance can suggest
      topics for sessions held the following day. The
      suggester indicates whether it is a topic they'd like to
      present on, hold a group discussion on, or learn more about. After
      all the suggestions have been written down, they are placed on
      a wall and attendees mark the topics they are interested
      in. The suggestions that have the most votes are chosen as part of the
      conference schedule for the following day.

    .question
      %a{ name: 'lightning' }
      What about topics that are not chosen?
    .answer
      Topics that are not chosen for the main scheduling blocks
      can still be presented as a five minute "Lightning Talk"
      where presenters can share their message with the other
      conference attendees. This Lightning Talk portion is held
      Saturday around lunch time, and may include talks that were
      not pitched on Friday night.

    .question
      %a{ name: 'history' }
      How did beCamp get started?
    .answer
      The first beCamp was held in June 2007 when organizer
      Steve Stedman decided to hold a "summer camp for geeks."
      %br
      = link_to 'UVA Today Article', 'http://news.virginia.edu/content/uva-host-bleeding-edge-web-technology-unconference-june-15-16-charlottesvilles-first-ever', target: 'blank'

    .question
      %a{ name: 'help' }
      How can I help out with beCamp?
    .answer
      If you would like to help out, please
      = mail_to App.contact_email, 'Contact Us.'

