<% if current_user.try(:admin?) %>
 <%= link_to 'Admin: Edit FAQs', faq_list_path %><br>
<% end %>
<div class="faq">
  <div class="questions">
    <div class="question">
      <% @faqs.each do |faq| %>
        <%= link_to faq.question, "#faq#{faq.id}" %><br>
      <% end %>
    </div>
  </div>
  <div class="answers">
    <% @faqs.each do |faq| %>
      <div class="question">
        <a name="<%= "faq#{faq.id}" %>"></a>
        <%= faq.question %>
      </div>
      <div class="answer">
        <%= raw(faq.answer) %>
      </div>
    <% end %>
  </div>
</div>
