<div class="faq">
  <div class="questions">
    <div class="question">
      <%= link_to 'What is beCamp?', '#what' %>
    </div>
    <div class="question">
      <%= link_to 'Who attends beCamp?', '#who' %>
    </div>
    <div class="question">
      <%= link_to 'When is beCamp?', '#when' %>
    </div>
    <div class="question">
      <%= link_to 'Where is beCamp held?', '#where' %>
    </div>
    <div class="question">
      <%= link_to 'How much does beCamp cost?', '#cost' %>
    </div>
    <div class="question">
      <%= link_to 'What about food?', '#food' %>
    </div>
    <div class="question">
      <%= link_to 'Are there rules?', '#rules' %>
    </div>
    <div class="question">
      <%= link_to 'Why is the schedule TBD?', '#tbd' %>
    </div>
    <div class="question">
      <%= link_to 'How are topics decided?', '#topic' %>
    </div>
    <div class="question">
      <%= link_to 'What about topics that are not chosen?', '#lightning' %>
    </div>
    <div class="question">
      <%= link_to 'How did beCamp get started?', '#history' %>
    </div>
    <div class="question">
      <%= link_to 'How can I help out with beCamp?', '#help' %>
    </div>
  </div>
  <div class="answers">
    <div class="question">
      <a name="what"></a>
      What is beCamp?
    </div>
    <div class="answer">
      beCamp is Charlottesville's version of the
      <%= link_to 'BarCamp', 'http://en.wikipedia.org/wiki/Bar_camp', target: 'blank' %>
      unconference movement - a conference organized on the fly
      by attendees, for attendees.
    </div>
    <div class="question">
      <a name="who"></a>
      Who attends beCamp?
    </div>
    <div class="answer">
      You! Software developers, system administrators,
      quality assurance, devops, designers, business developers
      and anyone interested in technology.
    </div>
    <div class="question">
      <a name="when"></a>
      When is beCamp?
    </div>
    <div class="answer">
      beCamp begins Friday, September 15th, 2027 at 5:00PM for topic organization.
      beCamp continues Saturday, September 16th, 2017 at 9:00AM for presentations.
    </div>
    <div class="question">
      <a name="where"></a>
      Where is beCamp held?
    </div>
    <div class="answer">
      beCamp is at a new location for 2016! beCamp will be held at Open Source Connections.
      <br />
      <span itemprop="location" itemscope
        itemtype="http://schema.org/Place"><span itemprop="name">OpenSource Connections</span>,
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">608 Preston Avenue</span>,
          <span itemprop="addressLocality">Charlottesville</span>, <span itemprop="addressRegion">VA</span>.
        </span>
      </span></br>
      <%= link_to 'Google Maps', 'https://www.google.com/maps/place/608+Preston+Ave,+Charlottesville,+VA+22903/@38.03502,-78.4886735,17z/data=!3m1!4b1!4m5!3m4!1s0x89b3862fe184a467:0x8e7ee00e4eb59b5e!8m2!3d38.03502!4d-78.4864848', target: 'blank' %>
    </div>
    <div class="question">
      <a name="cost"></a>
      How much does beCamp cost?
    </div>
    <div class="answer">
      beCamp is free for attendees thanks to our awesome
      <%= link_to 'sponsors.', sponsors_path %>
    </div>
    <div class="question">
      <a name="food"></a>
      What about food?
    </div>
    <div class="answer">
      Food and beverages will be provided for the duration of the event.
    </div>
    <div class="question">
      <a name="rules"></a>
      Are there rules?
    </div>
    <div class="answer">
      beCamp draws people together from many backgrounds and experiences to
      learn and teach about technology.  While you are at beCamp, help foster
      a friendly environment.
      <ul>
        <li>be polite</li>
        <li>be kind</li>
        <li>be respectful</li>
        <li>be helpful</li>
      </ul>
      At beCamp, we do not tolerate offensive comments about gender, age, sexual
      orientation, disability, physical appearance, race, or religion, or any
      inappropriate physical contact.  If a participant engages in harassing behavior,
      beCamp volunteers may take any action they deem appropriate, including warning
      the offender or expulsion from beCamp.  Any participant who has a concern should
      bring it immediately to the beCamp organizer.
    </div>
    <div class="question">
      <a name="tbd"></a>
      Why is the schedule TBD?
    </div>
    <div class="answer">
      The schedule will be made Friday night by attendees.
    </div>
    <div class="question">
      <a name="topic"></a>
      How are topics decided?
    </div>
    <div class="answer">
      On Friday evening, anyone in attendance can suggest
      topics for sessions held the following day. The
      suggester indicates whether it is a topic they'd like to
      present on, hold a group discussion on, or learn more about. After
      all the suggestions have been written down, they are placed on
      a wall and attendees mark the topics they are interested
      in. The suggestions that have the most votes are chosen as part of the
      conference schedule for the following day.
    </div>
    <div class="question">
      <a name="lightning"></a>
      What about topics that are not chosen?
    </div>
    <div class="answer">
      Topics that are not chosen for the main scheduling blocks
      can still be presented as a five minute "Lightning Talk"
      where presenters can share their message with the other
      conference attendees. This Lightning Talk portion is held
      Saturday around lunch time, and may include talks that were
      not pitched on Friday night.
    </div>
    <div class="question">
      <a name="history"></a>
      How did beCamp get started?
    </div>
    <div class="answer">
      The first beCamp was held in June 2007 when organizer
      Steve Stedman decided to hold a "summer camp for geeks."
      <br/>
      <%= link_to 'UVA Today Article', 'http://news.virginia.edu/content/uva-host-bleeding-edge-web-technology-unconference-june-15-16-charlottesvilles-first-ever', target: 'blank' %>
    </div>
    <div class="question">
      <a name="help"></a>
      How can I help out with beCamp?
    </div>
    <div class="answer">
      If you would like to help out, please
      <%= mail_to App.contact_email, 'Contact Us.' %>
    </div>
  </div>
</div>
