<div class="center">
  <%= link_to '2014', schedule_2014_path %>
  <br/>
  <%= link_to '2013', schedule_2013_path %>
  <br/>
  <%= link_to '2012', schedule_2012_path %>
  <br/>
  <%= link_to '2011', schedule_2011_path %>
  <br/>
  <%= link_to '2010', schedule_2010_path %>
  <br/>
  <%= link_to '2009', schedule_2009_path %>
  <br/>
  <%= link_to '2008', schedule_2008_path %>
  <br/>
  <%= link_to '2007', schedule_2007_path %>
</div>
