.center.sponsors
  = mail_to App.contact_email, 'Contact us'
  if you would like to become a sponsor!
  %br
  %br

  = link_to((image_tag 'lightcastle.png', style: 'width: 400px'), 'http://lightcastletech.com', target: 'blank')
  = link_to((image_tag 'bitlathe.jpg', style: 'width: 400px'), 'http://bitlathe.com/', target: 'blank')
  = link_to((image_tag 'coshx.png', style: 'width: 400px'), 'http://www.coshx.com/', target: 'blank')
  = link_to((image_tag 'maternity_neighborhood.png', style: 'width: 400px'), 'http://maternityneighborhood.com/', target: 'blank')
  = link_to((image_tag 'osc.png', style: 'width: 600px'), 'http://opensourceconnections.com/', target: 'blank')
