<div class="center sponsors">
  <%= mail_to App.contact_email, 'Contact us' %>
  if you would like to become a sponsor!
  <br/>
  <br/>
  <%= link_to((image_tag 'lightcastle_s.png', style: 'width: 400px'), 'http://lightcastletech.com', target: 'blank') %>
  <%= link_to((image_tag 'citycvillelogo_s.jpg', style: 'height: 200px'), 'http://www.charlottesville.org/', target: 'blank') %>
  <%#= link_to((image_tag 'studioix.png', style: 'width: 400px'), 'http://www.studioix.co/', target: 'blank') %>
  <%= link_to((image_tag 'coshx_s.png', style: 'width: 400px'), 'http://www.coshx.com/', target: 'blank') %>
  <%#= link_to((image_tag 'maternity_neighborhood_s.png', style: 'width: 400px'), 'http://maternityneighborhood.com/', target: 'blank') %>
  <%= link_to((image_tag 'osc_s.png', style: 'width: 400px'), 'http://opensourceconnections.com/', target: 'blank') %>
  <%#= link_to((image_tag 'roomkey_s.png', style: 'width: 400px'), 'http://www.roomkey.com/', target: 'blank')>
  <%#= link_to((image_tag 'elderresearch_s.png', style: 'width: 400px'), 'http://datamininglab.com/', target: 'blank') %>
  <%#= link_to((image_tag 'parus_s.png'), 'http://parusanalytics.com/', target: 'blank') %>
  <%= link_to((image_tag 'bitlathe_s.png', style: 'width: 400px'), 'http://bitlathe.com/', target: 'blank') %>
  <%#= link_to((image_tag 'ensco_s.png'), 'http://www.ensco.com/', target: 'blank') %>
  <%#= link_to((image_tag 'willowtreeapps_s.jpg', style: 'width: 400px'), 'http://www.willowtreeapps.com/', target: 'blank') %>
  <%= link_to((image_tag 'authx.png', style: 'width: 375px'), 'http://www.authxconsulting.com/', target: 'blank') %>
  <%#= link_to((image_tag 'tech_dynamism.jpg'), 'http://techdynamism.com/', target: 'blank') %>
  <%#= link_to((image_tag 'premier.png', style: 'padding-left: 10px'), 'https://www.premierinc.com/', target: 'blank') %>
  <%= image_tag 'myth_talent.png' %>
  <%= link_to((image_tag 'vividcortex.png', style: 'width: 250px'), 'https://www.vividcortex.com/', target: 'blank') %>
  <%= link_to((image_tag 'locushealth.png', style: 'width: 300px'), 'http://locus-health.com/', target: 'blank') %>
  <%= link_to((image_tag 'arqball_logo.png', style: 'width: 400px'), 'http://arqball.com/', target: 'blank') %>
</div>
