.center.sponsors
  = mail_to App.contact_email, 'Contact us'
  if you would like to become a sponsor!
  %br
  %br

  = link_to((image_tag 'lightcastle_s.png', style: 'width: 400px'), 'http://lightcastletech.com', target: 'blank')
  = link_to((image_tag 'citycvillelogo_s.jpg', style: 'height: 200px'), 'http://www.charlottesville.org/', target: 'blank')
  = link_to((image_tag 'studioix.png', style: 'width: 400px'), 'http://www.studioix.co/', target: 'blank')



  / = link_to((image_tag 'bitlathe_s.png', style: 'width: 400px'), 'http://bitlathe.com/', target: 'blank')
  = link_to((image_tag 'coshx_s.png', style: 'width: 400px'), 'http://www.coshx.com/', target: 'blank')
  = link_to((image_tag 'maternity_neighborhood_s.png', style: 'width: 400px'), 'http://maternityneighborhood.com/', target: 'blank')
  = link_to((image_tag 'osc_s.png', style: 'width: 400px'), 'http://opensourceconnections.com/', target: 'blank')
  / = link_to((image_tag 'willowtreeapps_s.jpg', style: 'width: 400px'), 'http://www.willowtreeapps.com/', target: 'blank')
  / = link_to((image_tag 'roomkey_s.png', style: 'width: 400px'), 'http://www.roomkey.com/', target: 'blank')
  = link_to((image_tag 'elderresearch_s.png', style: 'width: 400px'), 'http://datamininglab.com/', target: 'blank')
  / = link_to((image_tag 'encomputer_s.gif', style: 'width: 400px'), 'http://encomputers.com/', target: 'blank')
  / = link_to((image_tag 'wiztech.jpg'), 'http://www.teamwiztech.com/', target: 'blank')
  / = link_to((image_tag 'ensco_s.png'), 'http://www.ensco.com/', target: 'blank')
  = link_to((image_tag 'parus_s.png'), 'http://parusanalytics.com/', target: 'blank')
